In [27]:
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [48]:
df = pd.read_csv('../src/data_pd.csv',dtype=object)

In [49]:
df.head()

                            trans
0                    ['D3', 'A3']
1              ['E3', 'D3', 'A3']
2              ['E3', 'A3', 'C3']
3        ['A3', 'E3', 'D3', 'B3']
4  ['E3', 'B3', 'C3', 'D3', 'A3']

In [51]:
def if_contention(x):
    for item in x:
        if '1' in item:
            return 1
    return 0
df['if-contention'] = df['trans'].apply(if_contention)

In [53]:
df.head()

                            trans  if-contention
0                    ['D3', 'A3']              0
1              ['E3', 'D3', 'A3']              0
2              ['E3', 'A3', 'C3']              0
3        ['A3', 'E3', 'D3', 'B3']              0
4  ['E3', 'B3', 'C3', 'D3', 'A3']              0

In [54]:
df_c = df[df['if-contention'] == 1]

In [61]:
df_c['trans'].value_counts()

['B1', 'B2']                            35
['A1', 'A2']                            33
['D1', 'D2']                            32
['D1', 'D2', 'B2']                      14
['D1', 'D2', 'A2']                      14
['A1', 'A2', 'D2']                      14
['C2', 'D1', 'D2']                      12
['B2', 'C1', 'C2']                      11
['A1', 'A2', 'C2']                       9
['B1', 'B2', 'D2']                       9
['A2', 'B1', 'B2']                       9
['B1', 'B2', 'A2']                       8
['A1', 'A2', 'B2']                       8
['B1', 'B2', 'C2']                       8
['A2', 'D1', 'D2', 'B2']                 8
['D1', 'D2', 'C2']                       8
['A2', 'C1', 'C2']                       8
['A2', 'D1', 'D2']                       8
['C2', 'B1', 'B2']                       8
['C1', 'C2', 'B2']                       8
['C1', 'C2', 'A2']                       6
['D2', 'A1', 'A2']                       6
['E2', 'C1', 'C2', 'D2']                 6
['D2', 'C2', 'E1', 'E2']                 6
['B2', 'A1', 'A2']                       6
['C1', 'C2', 'D2']                       6
['D2', 'C1', 'C2']                       6
['C2', 'A1', 'A2']                       5
['A2', 'C1', 'C2', 'B2']                 5
['B2', 'D1', 'D2']                       5
                                        ..
['F2', 'B2', 'A2', 'D2', 'E1', 'E2']     1
['C2', 'E1', 'E2', 'A2', 'D2']           1
['B2', 'D2', 'E1', 'E2', 'A2']           1
['B1', 'B2', 'C2', 'A2', 'F2', 'D2']     1
['F2', 'B2', 'C2', 'A1', 'A2', 'D2']     1
['B1', 'B2', 'E2', 'A2', 'D2']           1
['D1', 'D2', 'C2', 'B2', 'A2']           1
['B2', 'E1', 'E2', 'A2', 'D2']           1
['C2', 'D2', 'A2', 'E1', 'E2']           1
['C2', 'A2', 'D1', 'D2', 'B2']           1
['D2', 'A1', 'A2', 'E2']                 1
['B1', 'B2', 'F2', 'D2', 'E2', 'C2']     1
['A2', 'E2', 'C1', 'C2', 'B2']           1
['E1', 'E2', 'A2', 'D2', 'C2', 'F2']     1
['A2', 'E2', 'B1', 'B2', 'C2']           1
['C2', 'A2', 'B1', 'B2', 'E2']           1
['B1', 'B2', 'D2', 'E2', 'A2']           1
['C2', 'D2', 'E2', 'A1', 'A2', 'F2']     1
['C2', 'A1', 'A2', 'D2']                 1
['E2', 'D2', 'B2', 'C1', 'C2']           1
['A2', 'B1', 'B2', 'C2']                 1
['A2', 'C2', 'B1', 'B2', 'D2']           1
['C2', 'B1', 'B2', 'A2', 'D2']           1
['B1', 'B2', 'A2', 'D2', 'C2']           1
['C2', 'B2', 'E1', 'E2']                 1
['F2', 'D2', 'C1', 'C2', 'E2', 'B2']     1
['A2', 'D2', 'B1', 'B2', 'E2']           1
['E2', 'D2', 'A2', 'B1', 'B2']           1
['A2', 'E2', 'B1', 'B2', 'D2']           1
['C1', 'C2', 'B2', 'E2', 'D2']           1
Name: trans, Length: 576, dtype: int64